.submit {
  background-color: #6366f1;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  border-radius: 30px;
  width: 520px;
  bottom: -30px;
}

.hide {
  
  color: white;
  border: none;
  padding: 12px 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* RED when X */
.redBtn {
  position: absolute;
  right: 5px;
  top: -25px;
  background-color: #cf4c32;
}

/* VIOLET when Show */
.violetBtn {
  position: absolute;
  right: -150px;
  top: -2px;
  background-color: #6366f1;
  width:300px;


  font-size:16px;
  
}


.submit:hover {
  background-color: #3f44dbff;
}

.buttonBox {
  position: relative;
  margin:20px 5px;
}

.titleBlock {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
  font-weight:bold;
  color: #6366f1;
}

.titleHide {
  display: none;
}





@media (max-width: 500px) {
  .submit {
    width: 300px;
  }
  .titleBlock {
 
  font-size: 15px;
  
}

.violetBtn {
  top: -10px;
  left:-150px;
  background-color: #6366f1;
  width:220px;
  margin:0 50px;
  font-size:14px;
  
}
}
